@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div style="display: inline-flex; margin: 10px;">

        <ul class="navbar-nav flex-grow-1" style="margin-right: 20px;">

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Conta" asp-action="Index">Contas</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Despesa" asp-action="IndexConsulta">Despesa Consulta</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Pessoa" asp-action="Index">Pessoa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Receita" asp-action="Index">Receita</a>
            </li>
        </ul>

        <ul class="navbar-nav flex-grow-1" style="margin-right: 20px;">

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Acao" asp-action="Index">Acao</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="EmpresaListada" asp-action="Index">EmpresaListada</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="SetorEmpresa" asp-action="Index">SetorEmpresa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="TipoMercado" asp-action="Index">TipoMercado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="TipoMovimento" asp-action="Index">TipoMovimento</a>
            </li>
        </ul>

        <ul class="navbar-nav flex-grow-1">

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Ano" asp-action="Index">Ano</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Mes" asp-action="Index">Mes</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="CategoriaDespesa" asp-action="Index">CategoriaDespesa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Conta" asp-action="Index">Contas</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Despesa" asp-action="Index">Despesa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="FormaPagamento" asp-action="Index">Forma Pgto</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="FormaRecebimento" asp-action="Index">Forma Receb</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="StatusReceita" asp-action="Index">Status Receita</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="StatusDespesa" asp-action="Index">Status Despesa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="StatusMeta" asp-action="Index">Status Meta</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="StatusInvestimento" asp-action="Index">Status Investimento</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="TipoConta" asp-action="Index">Tipo Conta</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="TipoInvestimento" asp-action="Index">Tipo Investimento</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="TipoPessoa" asp-action="Index">Tipo Pessoa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="TipoReceita" asp-action="Index">Tipo Receita</a>
            </li>
        </ul>
    </div>

</div>
