@model MinhasFinancas.Models.Receita

@{
    ViewData["Title"] = "Create";
}

<h1 class="titulo-secundario titulo-fonte">Nova Receita</h1>

<hr />
<div class="row">
    <div class="col-md-11">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Receita</label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="div-create">
                <div class="form-group">
                    <label asp-for="ValorAReceber" class="control-label">Valor À Receber</label>
                    <input asp-for="ValorAReceber" class="form-control" />
                    <span asp-validation-for="ValorAReceber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValorRecebido" class="control-label">Valor Recebido</label>
                    <input asp-for="ValorRecebido" class="form-control" />
                    <span asp-validation-for="ValorRecebido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PessoaID" class="control-label">Fonte de Receita</label>
                    <select asp-for="PessoaID" class="form-control" asp-items="ViewBag.PessoaID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TipoReceitaID" class="control-label">Tipo de Receita</label>
                    <select asp-for="TipoReceitaID" class="form-control" asp-items="ViewBag.TipoReceitaID"></select>
                </div>
            </div>

            <div class="div-create">
                <div class="form-group">
                    <label asp-for="FormaRecebimentoID" class="control-label"> Forma de Recebimento</label>
                    <select asp-for="FormaRecebimentoID" class="form-control" asp-items="ViewBag.FormaRecebimentoID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="StatusReceitaID" class="control-label">Status</label>
                    <select asp-for="StatusReceitaID" class="form-control" asp-items="ViewBag.StatusReceitaID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="DataPrevistaRecebimento" class="control-label">Data Prevista Receb.</label>
                    <input asp-for="DataPrevistaRecebimento" class="form-control" />
                    <span asp-validation-for="DataPrevistaRecebimento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataDeRecebimento" class="control-label">Data de Receb.</label>
                    <input asp-for="DataDeRecebimento" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Novo" class="btn btn-primary btn-criar" />
                <a asp-action="Index" type="button" class="btn btn-light btn-voltar">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
